*.ini
livro_texto/Aprendendo_Python_-_2a_Edição.pdf
material_complementar/Aprendendo_Python_-_2a_Edição.pdf
material_complementar/Head_First_Python_-_Paul_Barry.pdf
video_aulas/Fundamentos_de_Programação_Aula_02.mp4
video_aulas/Fundamentos_de_Programação_Aula_02.webm
video_aulas/Fundamentos_de_Programação_Aula_03.mp4
video_aulas/Fundamentos_de_Programação_Aula_03.webm
video_aulas/Fundamentos_de_Programação_Aula_04.mp4
video_aulas/Fundamentos_de_Programação_Aula_04.webm
video_aulas/Fundamentos_de_Programação_Aula_05.mp4
video_aulas/Fundamentos_de_Programação_Aula_05.webm
video_aulas/Fundamentos_de_Programação_Aula_06.mp4
video_aulas/Fundamentos_de_Programação_Aula_06.webm
video_aulas/Fundamentos_de_Programação_Aula_07.mp4
video_aulas/Fundamentos_de_Programação_Aula_07.webm
video_aulas/Fundamentos_de_Programação_Aula_08.webm
video_aulas/Fundamentos_de_Programação_Aula_09.mp4
video_aulas/Fundamentos_de_Programação_Aula_09.webm
video_aulas/Fundamentos_de_Programação_Aula_10.mp4
video_aulas/Fundamentos_de_Programação_Aula_10.webm
video_aulas/Fundamentos_de_Programação_Aula_11.mp4
video_aulas/Fundamentos_de_Programação_Aula_11.webm
video_aulas/Fundamentos_de_Programação_Aula_12.mp4
video_aulas/Fundamentos_de_Programação_Aula_12.webm
